.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 0.25rem;
}

.error {
	color: var(--error);
}

.input {
	background-color: var(--bg-700);
	border-radius: 8px;
	padding: 0.5rem 1rem;
	min-height: 40px;
	width: 100%;
	color: var(--white);
}

.input:focus {
	outline: 1px solid var(--primary);
}

.input::placeholder {
	color: var(--gray);
}

.borderError,
.borderError:focus {
	outline: 1px solid var(--error);
}

.visibilityIcon {
	cursor: pointer;
	height: 1.5rem;
	position: absolute;
	right: 0.5rem;
	top: 2.25rem;
}
