:root {
	--bg-700: #1d1e26;
	--bg: #2b2b36;
	--bg-300: #353641;
	--primary-700: #028df1;
	--primary: #039ff4;
	--primary-300: #4fbcf7;
	--secondary-700: #542ca7;
	--secondary: #673ab7;
	--secondary-300: #9575cd;
	--error-700: #c22525;
	--error: #ce3131;
	--error-300: #dd6f6f;
	--warning-700: #fab800;
	--warning: #fbc500;
	--warning-300: #fcd64d;
	--success-700: #0ea163;
	--success: #13b176;
	--success-300: #5ac89f;
	--gray-700: #6d7a8c;
	--gray: #808d9e;
	--gray-300: #a6afbb;
	--white: #ffffff;
	--black: #000000;
	--transparent: #00000000;
	--overlay: #232a3beb;
}
