@font-face {
	font-family: 'Poppins';
	src: './fonts/Poppins-Regular.ttf';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: './fonts/Poppins-Italic.ttf';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Poppins';
	src: './fonts/Poppins-Bold.ttf';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: './fonts/Poppins-BoldItalic.ttf';
	font-weight: 700;
	font-style: italic;
}
